@model FazTipster.Entities.Tips
@{
    ViewBag.Title = "AndyTipsterTips";
}

<div class="col-xs-12">
    <p class="lead lead-lg text-center animated bounceInLeft animation-delay-12"><strong>Andy Tipster Tips</strong></p>
</div>

@if (Model != null)
{
    <h2 class="lead lead-lg text-center animated bounceInLeft animation-delay-12">@Model.AndyTipsterTips</h2>
}
else
{
<h2 class="lead lead-lg text-center animated bounceInLeft animation-delay-12">"No Tips have been found."</h2>
}


