@model IEnumerable<FazTipster.Entities.Questions>


@{
    ViewBag.Title = "Frequently Asked Questions";
}


<div class="row" style="margin-bottom:50px;">
    <section>
        <div class="col-xs-12"></div>
    </section>
    <div class="col-md-8">
        <h2 class="section-title">@ViewBag.Title</h2>

        @if (Model.Count() > 0)
        {
            foreach (var Question in Model)
            {
                <div class="panel-group" id="accordion1">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#@String.Concat("collapse_", Question.Id)">
                                    @Question.Question
                                </a>
                            </h4>
                        </div>
                        <div id="@String.Concat("collapse_", Question.Id)" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Question.Answer
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>





@*<div class="row">
        <section>
            <div class="col-xs-12">
            </div>
        </section>
        <div class="col-md-8">
            <h2 class="section-title">Frequently Asked Questions</h2>
            <div class="panel-group" id="accordion1">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                Am I guaranteed profit?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            It is essential you remember that this is gambling and with gambling there is always risk. Although I cannot guarantee 100% you will make profit, through my extensive research and years of tipping I aim to make all members long term profit as it Shows On My spreadsheet-->> https://docs.google.com/spreadsheets/d/1LNXHFH6wEN4BHbb4jiFjzRAfZzeBHhH3I2ueORi8dxc/edit?pli=1#gid=2
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseNine1">
                                How can I pay for the tips?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Go to Subscribe page and select your favourite package. We recommend the ultimate pack as it offers best value for you money. We use PayPal for our payments but if you dont have Paypal please message us and we will advise your alternative method of payment. Paypal payments are most secure and you can track you memeberships online. In future we plan to ONLY accept Paypal payments.
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                What betting company should I use?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse">
                        <div class="panel-body">
                            This Will Be explained On Signing up we Compare Between 2 Companies, And It’s a Very Simple Process.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                What sports do you tip?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree1" class="panel-collapse collapse">
                        <div class="panel-body">
                            We cover almost all sports throughout the year, but on a daily basis mainly focus on horse racing, football and American sports but I will always tip if I believe there is an opportunity to make a profit.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                How can I follow the system?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour1" class="panel-collapse collapse">
                        <div class="panel-body">
                            All bets are recorded on my google sheet so you are able to see a complete breakdown of every single bet whenever you want. The sheet dates back to Feb 2013 when I first started so you can see my entire history.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse0022">
                                What bankroll Do you reccomend?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0022" class="panel-collapse collapse">
                        <div class="panel-body">
                            Your Bankroll is Entirely your Decision, the system is 1 Point = 1% of your bankroll as a guideline. I'd Suggest a Good Starting bank is between £100 and £200 but of course you can play as high a bank as you are comfortable.
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse0023">
                                How Much Money have You made?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0023" class="panel-collapse collapse">
                        <div class="panel-body">
                            In 35 Months, so 1 month short of 3 years we amassed a profit just Shy of £5,700 This was off 1 x the system where a starting bankroll of £250 Was advised Many members played up to 10 X this So as you can imagine the profits are astronomical. 2016 We have Adjusted our system to keep with the times and now run off a points system, we are already well up and you can view all our profits on our accessible spreadsheet under "Daily Results".
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                How many tips do I get a day?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven1" class="panel-collapse collapse">
                        <div class="panel-body">
                            The number of tips varies from day to day based on the value that I can find. If I don’t believe there to be any value on the day I will not tip. I simply don’t believe in unnecessary risks. Generally You will get 5 Horses Per Day.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse005">
                                How can I sign up?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse005" class="panel-collapse collapse">
                        <div class="panel-body">
                            Simply subscribe and follow Online Payments. Once paid you will Receive an email Confirmation and then regualr private tips.
                        </div>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse004">
                                Can I have a free trail day or week(s)?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse004" class="panel-collapse collapse">
                        <div class="panel-body">
                            I do not give people free day’s or week’s so please do not ask.  Given my track record I do not feel the need to give people a ‘free go’.  You are able to see all my results on my spreadsheets which outline exactly what I have won and that is all the information you should need regarding my tipping ability. I l also Charge A Very Respectable fee for what I offer.
                        </div>
                    </div>
                </div>


                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse003">
                                Do you tip 365 days a year?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse003" class="panel-collapse collapse">
                        <div class="panel-body">
                            If I don’t believe there to be any value on the day I will not tip.  I spend numerous hours and days researching all opportunities but if I believe the risk is to great I won’t be tipping.
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse002">
                                How Do we Know How much Money to place on Each Tip?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse002" class="panel-collapse collapse">
                        <div class="panel-body">
                            Andy Explains The System In the start-up Email and You Will Be told on Every email/post how much to bet in accordance with the system.
                        </div>
                    </div>
                </div>









                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse0024">
                                If you've deleted or lost the sign up email?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0024" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can email us and we will send it again or you can contact Andy via his facebook Profile https://www.facebook.com/profile.php?id=100008840049506
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse0025">
                                Do you have a Group or Community i can join that i can speak to other members or just post fun bets?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0025" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes we have a Banter Group on Facebook With thousands of members. The Link needed is https://www.facebook.com/groups/724748150966064/
                        </div>
                    </div>
                </div>


















            </div> <!-- panel-group -->
        </div> <!-- col-md-8 -->


        <div class="col-md-4">
            <h2 class="section-title">More Questions?</h2>


            <form name="contactform" method="post" action="faz-send-form.php" accept-charset="UTF-8">
                <!--<form name="contactform" method="post" action="email_message.php">-->

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>

                <div class="form-group">
                    <label for="InputName">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>

                <div class="form-group">
                    <label for="InputName">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="InputName">Question</label>
                    <textarea name="comments" rows="10" class="form-control"></textarea>
                </div>

                <input type="submit" value="Submit">

            </form>





            <div class="contact-info">

            </div>
        </div>

    </div> <!-- row -->*@
