@model FazTipster.Entities.LandingPage
@{
    ViewBag.Title = "AndyTipster Home Page";
}



@if (Model != null)
{
    <div class="col-xs-12">
        @Html.Raw(Model.LandingPageHtml)
    </div>
}
else
{
    <h2 class="lead lead-lg text-center animated bounceInLeft animation-delay-12">"Admin needs to add home page contents."</h2>
}






