@model FazTipster.Entities.Tips
@{
    ViewBag.Title = "IrishRacingTips";
}


@*<div class="col-xs-12">
    <p class="lead lead-lg text-center animated bounceInLeft animation-delay-12"><strong>Irish Horce Racing Tips</strong></p>
</div>*@


@if (Model != null)
{
   
    <div class="col-xs-12">
        @Html.Raw(Model.IrishHorseTips)
    </div>
}
else
{
    <h2 class="lead lead-lg text-center animated bounceInLeft animation-delay-12">"No Tips have been found."</h2>
}